.navbar {
  width: 100%;
  padding: 20px;
  background-color: $background-header;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    @include center;
    height: 4rem;
    aspect-ratio: 1/1;
    background-color: $background-logo;
    border-radius: 50%;

    @include lg {
      height: 4.5rem;
    }

    @include hover;
  }

  p {
    text-align: end;

    @include lg {
      font-size: 1.5rem;
    }
  }
}
