.navbar {
    width: 100%;
    height: 105px;
    background-color: $background-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    &__logo {
        height: 70px;
        aspect-ratio: 1/1;
        background-color: $background-logo;
        border-radius: 50%;

        @include center;
    }
}