* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;

  @include sm {
    font-size: 18px;
  }

  @include md {
    font-size: 20px;
  }
}

html, body {
  height: 100%;
}

button, input, select, textarea {
  font: inherit;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}


hr {
  border: none;
}

