@import "base/variables";
@import "base/breakpoints";
@import "base/mixins";

@import "base/reset";

@import "layouts/header";
@import "layouts/footer";

@import "pages/home";
@import "pages/not-found";

body {
  display: flex;
  flex-direction: column;
  color: $color-primary;
}

main {
  background: $background-home;
  flex: 1;
}

button {
  border-radius: 3px;
  color: $color-button;
  text-transform: uppercase;
  border: 1px solid $color-primary;
  font-weight: bold;

  @include hover;
}
